*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.section{
    display:flex;
    gap:20px;
    background-color:#e2b1b1 ;
    /* background: url("https://www.shutterstock.com/image-photo/white-womens-leather-sneakers-on-260nw-1922203691.jpg"); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.product-section{
    padding:20px;
    margin:20px;
    border:3px solid rgb(77, 77, 77);
    width: 650px;
    height:650px;
    overflow-y: scroll;
}
.heading{
    font-size: 35px;
    font-weight: 700;
}
.product{
    
     padding:10px;
     margin:10px;
     background-color: rgba(255, 255, 255, 0.929);
     color:rgb(109, 107, 107);
     list-style: none;
}
.product>div{
     display: flex;
     justify-content: space-between;
     align-items: center;
     cursor:pointer;
     object-fit: cover;
     gap:20px;
}

.count{
    display:flex;
     gap: 10px;
     background-color: rgb(102, 99, 99);
     color:rgb(255, 255, 255);
     padding:3px;
     border-radius: 20px;
     height:40px;
     width:auto;
     align-items: center;

}
.count span{
    margin:10px;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
}
img{
    height:100px;
    width: 100px;
}

.theme{
    font-size: 26px;
    /* color:rgb(255, 153, 0); */
    margin:10px 0px;
}
.price{
    font-size:16px;
}
.detail span{
    color:grey;
    font-size: 14px;
}
.detail{
    flex-grow: 1;
}
.cart{
    width:500px;
    height:650px;
    overflow-y:scroll;
    border:3px solid rgb(71, 69, 69);
    margin:20px;
    padding:20px;
    position: relative;
}
.cart-product{
    display: none;
}
.display-cart-product{
    display: block;
}

.totalPrice{
 position: absolute;
 bottom: 0px;
 color:white;
 background-color: rgb(54, 53, 53);
 width: 90%;
 padding:20px;
 font-size: 20px;
 font-weight: 700;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen  and (max-width:877px){
    .product >div{
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }
    .count{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap:10px;
        justify-content: center;
    }
    .totalPrice{
        width: auto;
    }
    
}
@media screen and (max-width:650px) {
    .section{
        flex-direction: column;
    }
    .product-section, .cart{
        width: auto;
        height:100vh;
        margin:20px;
        flex-wrap: wrap;
    }
    .product >div{
        flex-direction: row;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap:8px;
    }
    .count{
        width: auto;
        display: flex;
        flex-direction: row;
        gap:10px;
        justify-content: center;
        flex-wrap: wrap;
       
    }
    .totalPrice{
        bottom: auto;
    }
}